<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"	
	xmlns:jsf="http://xmlns.jcp.org/jsf"> 
	
	<!-- TAG METADATA USADA GERENCIAR OS PARAMETROS GET -->
	
	<f:metadata>	
	  	<f:viewParam name="cod-matricula" value="#{alunoController.matricula}" /> <!-- PARAM COD MATRICULA VIA URL INSTÂNCIADA NO BACKING BEAN EM MATRICULA -->			
	   	<f:event type="preRenderView" listener="#{alunoController.getUpdateInfo}" /> <!-- OBTER INFORMAÇÕES DO ALUNO ATRAVÉS DA MATRICULA (EXECUTADO ANTES DE RENDERIZAR A PÁGINA) -->	
	</f:metadata>
	
	<!---->
			
   <h:head>
	
		<!-- CSS -->
		
	    <h:outputStylesheet name="bootstrap.css" library="static/libraries/bootstrap/css" /> <!-- BOOTSTRAP STYLE -->
	    <h:outputStylesheet name="fontawesome.min.css" library="static/libraries/font-awesome/css" /> <!-- FONTAWESEOME STYLE -->
	    <h:outputStylesheet name="form.css" library="static/css/form"/> <!-- FORM STYLE -->
	    <h:outputStylesheet name="validation.css" library="static/css/validation" /> <!-- VALIDATION STYLE -->
	  	    
	    <!-- SCRIPT -->
	    
	    <h:outputScript name="jquery-3.5.1.min.js" library="static/libraries/jquery" />	 <!-- JQUERY IMPORT -->   
	    <h:outputScript name="bootstrap.bundle.min.js" library="static/libraries/bootstrap/js" /> <!-- BOOTSTRAP JS IMPORT --> 
	    <h:outputScript name="all.min.js" library="static/libraries/font-awesome/js" /> <!-- FONTAWESOME JS IMPORT --> 
	    <h:outputScript name="jquery.validate.min.js" library="static/libraries/jquery-validation" /> <!-- JQUERY VALIDATE IMPORT --> 
        <h:outputScript name="additional-methods.min.js" library="static/libraries/jquery-validation" /> <!-- JQUERY VALIDATE ADDITIONAL METHODS IMPORT --> 
	    <h:outputScript name="validate.js" library="static/js/validation" /> <!-- VALIDATION JS IMPORT --> 
	  	    
	    <!---->
		    				
   </h:head>
	
   <h:body>
   
	  <div class="container main-content w-50"> <!-- CONTEUDO PRINCIPAL DO FORM -->
	  
	   <!-- ALERTS -->
	   
       <div id="success" class="alert alert-success d-none" role="alert"></div> <!-- SUCCESS ALERT -->
       <div id="error" class="alert alert-danger d-none" role="alert"></div> <!-- ERROR ALERT -->  
             
       <!---->
       
       <h:form id="submit"> <!-- FORM DE ENVIO -->       
       
       <p class="h3 text-center"> <!-- TITULO DA PÁGINA -->
		    <i class="#{form == 'save' ? 'fas fa-user-plus' : 'fas fa-user-edit'}"></i>
       			#{form == 'save' ? 'CADASTRAR' : 'ATUALIZAR'}  <!-- OPERADORES TERNÁRIOS PARA DEFINIR QUAL É A PÁGINA A SER UTILIZADA -->     			
       </p>
       
     	<!---->
       
       		<div class="form-group mt-5">  <!-- FORM GROUP -->      		  
   				    <label id="matricula-label">MATRÍCULA</label> <!-- FIELD LABEL -->
   				  		<span for="matricula" class="valid-icon-hidden" /> <!-- SPAN ICON 'VALIDATION'  -->
   				  		<input type="text" class="form-control" id="matricula" name="matricula" autocomplete="off" value="#{empty alunoController.aluno.matricula ? '' : alunoController.aluno.matricula}" /> <!-- INPUT -->  				
   				  	<div class="error-label"> <!-- ERROR LABEL DIV -->
					 <label for="matricula" class="error d-none" id="matricula-error"></label> <!-- ERROR LABEL -->   				
      			  </div> 	<!---->		 	 
  			</div> 	<!---->
  			
  			<!---->
  			
  			<div class="form-group"> <!-- FORM GROUP --> 
   				  <label id="nome-label">NOME</label> <!-- FIELD LABEL -->
   				 	<span for="nome" class="valid-icon-hidden" /> <!-- SPAN ICON 'VALIDATION'  -->
   				 	<input type="text" class="form-control" id="nome" name="nome" autocomplete="off" value="#{empty alunoController.aluno.nome ? '' : alunoController.aluno.nome}" /> <!-- INPUT --> 
   				  <div class="error-label"> <!-- ERROR LABEL DIV -->
					 <label for="nome" class="error d-none" id="nome-error"></label> <!-- ERROR LABEL -->       				
      			 </div> <!---->	
  			</div> <!---->
  			
  			<!---->
  			
  			<div class="form-group"> <!-- FORM GROUP --> 
				 <label id="idade-label">IDADE</label> <!-- FIELD LABEL -->
   				 	<span for="idade" class="valid-icon-hidden" /> <!-- SPAN ICON 'VALIDATION'  -->
   				 	<input type="text" class="form-control" id="idade" name="idade" autocomplete="off" value="#{empty alunoController.aluno.idade ? '' : alunoController.aluno.idade}" /> <!-- INPUT --> 
   				  <div class="error-label"> <!-- ERROR LABEL DIV -->
				  	<label for="idade" class="error d-none" id="idade-error"></label> <!-- ERROR LABEL -->       				
      			 </div>	
  			</div>
  
			<!---->
			
			<div class="form-row mt-5"> <!-- BUTTONS DIV -->				                    											
			
				<h:commandButton value="SALVAR" class="btn btn-success" rendered="#{form == 'save'}" action="#{alunoController.save}" /> <!-- SALVAR ALUNO -->
							
				<h:commandButton value="ATUALIZAR" class="btn btn-primary ml-2" rendered="#{form == 'update'}" action="#{alunoController.update}" /> <!-- ATUALIZAR ALUNO -->
													
				<h:button value="VOLTAR" class="btn btn-info ml-2" outcome="index" /> <!-- IR PARA INDEX.XHTML -->
							
				<h:commandButton type="reset" value="LIMPAR" class="btn btn-secondary reset-btn ml-2" rendered="#{type == 'save'}" /> <!-- LIMPAR FORM -->			
															
			</div> <!---->
			
			<!---->                    
       
       </h:form> <!---->
   
	 </div> <!---->
	 
	 <!---->
   
 </h:body>   
</html>