<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"	
	xmlns:jsf="http://xmlns.jcp.org/jsf">
			
   <h:head>
	
		<!-- CSS -->
		
		<h:outputStylesheet name="bootstrap.css" library="static/libraries/bootstrap/css" /> <!-- BOOTSTRAP STYLE -->	
	    <h:outputStylesheet name="fontawesome.min.css" library="static/libraries/font-awesome/css" />  <!-- FONTAWESEOME STYLE -->	      
	    <h:outputStylesheet name="style.css" library="static/css/index"/>  <!-- INDEX STYLE -->
	    <h:outputStylesheet name="dataTables.bootstrap4.css" library="static/libraries/dataTables/DataTables-1.11.4/css" />  <!-- JQUERY DATATABLE STYLE -->
		    
	    <!-- SCRIPT -->
	    
	    <h:outputScript name="jquery-3.5.1.min.js" library="static/libraries/jquery" />	 <!-- JQUERY IMPORT -->     
	    <h:outputScript name="bootstrap.bundle.min.js" library="static/libraries/bootstrap/js" /> <!-- BOOTSTRAP JS IMPORT --> 
	    <h:outputScript name="all.min.js" library="static/libraries/font-awesome/js" /> <!-- FONTAWESOME JS IMPORT --> 
		<h:outputScript name="jquery.dataTables.min.js" library="static/libraries/dataTables/DataTables-1.11.4/js" /> <!-- JQUERY DATATABLE IMPORT -->
        <h:outputScript name="dataTables.bootstrap4.min.js" library="static/libraries/dataTables/DataTables-1.11.4/js" /> <!-- JQUERY DATATABLE BOOTSTRAP IMPORT -->
		<h:outputScript name="table-config.js" library="static/js/datatable" /> <!-- TABLE CONFIG IMPORT -->
				
		<!---->
				
   </h:head>
	
   <h:body>
   
   	<div class="container mt-5">
   	
   	 <!-- ALERTS -->
   
       <div id="success" class="alert alert-success d-none" role="alert"></div> <!-- SUCCESS ALERT -->
       <div id="error" class="alert alert-danger d-none" role="alert"></div> <!-- ERROR ALERT -->
                
       <!---->
   	
			<div id="row"> <!-- ROW BOTÃO CADASTRO -->

				<h:form id="form-new"> <!-- FORM PARAR AÇÃO DO BOTÃO DE CADASTRO  -->

					<div class="form-row"> <!-- FORM ROW -->					
					
						<h:button class="btn btn-primary ml-2" value="NOVO" outcome="form" /> <!-- IR PARA PÁGINA FORM.XHTML -->
												
					</div> <!---->
					   
					<!---->	
					   			
				</h:form> <!---->
				
				<!---->	
          		          		
					<h:dataTable id="aluno-table" value="#{alunoController.lista}"
						var="aluno" autocomplete="off"
						styleClass="table table-striped table-dark table-bordered text-center"
						cellspacing="0" width="100%" > <!-- DATATABLE CONFIG -->
 							
						<h:column>
							<f:facet name="header">MATRICULA</f:facet>
							<h:outputText value="#{aluno.matricula}" />

						</h:column>
						
						<!---->

						<h:column>
							<f:facet name="header">NOME</f:facet>
							<h:outputText value="#{aluno.nome}" />
						</h:column>

						<!---->

						<h:column>
							<f:facet name="header">IDADE</f:facet>
							<h:outputText value="#{aluno.idade}" />
						</h:column>
						
					   <!---->
						
						<h:column>
						
							<f:facet name="header">AÇÕES</f:facet>	
							
							<!---->	
							
							<!-- H:LINK USADO APENAS PARA REDIRECIONAMENTO DE URL -->	
											
								<div id="update-link">
									<h:form id="update-form">
										<h:link outcome="form" > <!--  LEVA PARA FORM.XHTML -->
											<span><i class="fas fa-user-edit edit-icon"></i></span>									
											<f:param name="cod-matricula" value="#{aluno.matricula}" />	 <!-- SET PARAM PARA SER ENVIADO POR URL (UPDATE) -->																																							
										</h:link>
									</h:form>
								</div>
								
								<!---->
								
								<!-- H:COMMANDLINK USADO PARA EXECUTAR UMA AÇÃO NO BACKING BEAN -->	
								
								<div id="delete-link">
									<h:form id="delete-form">
										<h:commandLink action="#{alunoController.getDeleteInfo}" value=""> <!-- EXCEUTA UMA FUNÇÃO NO BACKING BEAN E ACIONAR A DELETE MODAL -->
											<span><i class="fas fa-trash-alt trash-alt-icon"></i></span>
											<f:setPropertyActionListener value="#{aluno.matricula}" target="#{alunoController.matricula}"/>	<!-- PASSAR A MATRICULA PARA O BACKING BEAN -->										
											<f:passThroughAttribute name="data-toggle" value="modal" /> <!-- TAG PASSTHROUGHT UTILIADA PARA SUPORTE COM HTML5 EM JSF -->
											<f:passThroughAttribute name="data-target" value="#deleteModal" />
											<f:ajax execute="@form" render="@none" /> <!-- NÃO RENDERIZAR AO EXECUTAR AÇÃO -->
										</h:commandLink>
									</h:form>
								</div>
								
								<!---->
																							
						</h:column>
						
						<!---->
						
					</h:dataTable>			
					</div>	<!---->			
			  </div> <!---->
		 		  
		  <!---->
		  
			<!-- DELETE DIALOG -->
		
			<div class="modal customModal text-center" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
				aria-labelledby="deleteModalLabel" aria-hidden="true"> <!-- MODAL DIALOG -->
				<div class="modal-dialog" role="document"> <!-- MODAL DIALOG -->
					<h:form id="delete-form" class="modal-content"> <!-- MODAL CONTENT -->
						<div class="modal-header"><!-- MODAL HEADER -->
						
						 <!---->	
						
						    <div class="col-1"></div><!-- ALIGN COL -->		
						    					  
						  	<!---->		
						  						  
							<div class="col-10 text-center"> <!-- TITLE COL -->
								<p class="h4 text-danger"><i class="fas fa-user-times"></i>&nbsp;&nbsp;<b>EXCLUIR ALUNO</b></p> <!-- TITLE -->																
							</div>	
													
							<!---->	
													
							<div class="col-1"> <!-- DISMISS COL -->
								<h:commandLink class="close" p:data-dismiss="modal"	aria-label="Close"> <!-- DISMISS BUTTON -->
									<span aria-hidden="true">&times;</span>
									<f:ajax execute="@form" render="@none" />
								</h:commandLink> <!---->
							</div>
							
							<!---->
							
						  </div><!---->										
						
						<!---->
						
						<div class="modal-body"> <!-- MODAL BODY -->
						
							<!-- MOSTRAR INFORMAÇÕES DO ALUNO -->
						    <p class="text-center"><b> Deseja excluir </b> <b class="text-danger"><h:outputLabel id="modal-name" value="#{alunoController.aluno.nome}" /></b>
						       <b>matrícula </b> <b class="text-danger"><h:outputLabel id="modal-matricula" value="#{alunoController.aluno.matricula}" /></b> <b> ? </b>						      
						   </p> 
						   
						   <!---->	
						   				
						</div>
						
						<!---->
						
						<div class="modal-footer"> <!-- FOOTER -->
							<div class="submit-modal"> <!-- SUBMIT MODAL DIV  -->
								<h:commandButton value="SIM" class="btn btn-primary" action="#{alunoController.delete}" > <!-- EXECUTAR O MÉTODO DELETE -->
									<f:setPropertyActionListener value="#{deleteValue}" target="#{alunoController.matricula}"/>	<!-- ENVIAR VALOR DE DELEÇÃO PARA O BACKING BEAN -->
								</h:commandButton> <!-- SUBMIT BUTTON -->
							</div>
							
							<!---->
							
							<div class="cancel-modal"> <!-- CANCEL MODAL DIV  -->
								<h:commandButton value="NÃO" class="btn btn-secondary" p:data-dismiss="modal" action="#{alunoController.removeDelValue}" /> <!-- DISMISS BUTTON -->
							</div> 
							
							<!---->
							
						</div><!---->
					</h:form> <!---->
				</div> <!---->
			</div> <!---->
			
		<!---->   
			
   </h:body>
</html>