/**
* Projeto Aluno
*
* Layout index.xhtml
*
* Esta folha de estilo é destinada ao uso
* na página index.xhtml
*
* @project Projeto Aluno
* @author Wellington
* @date 02/02/2022
* @version 1.0 
* @since 1.0
* @package /resources/static/css/index/
*
*/

/* --------------------------------------------- */

/**
* Estilo para o ajuste do wrapper content (datatable)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note ajustar o elemento com relação a altura da página.
*
*/
.dataTables_wrapper{
	margin-top: 4%;
}

/* --------------------------------------------- */

/**
* Div para o icone de atualização
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note posicionamento do icone
*
*/

#update-link{
 float: left;
 margin-left: 35%
}

/* --------------------------------------------- */

/**
* Div para o icone de exclusão
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note posicionamento do icone
*
*/

#delete-link{
 float: right;
 margin-right: 35%;
}

/* --------------------------------------------- */

/**
* Definição do icone de edição
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note cor e tamanho do icone (fontawesome)
*
*/

.edit-icon {
 color: #FFFFFF;
 font-size: 20px;	
}

/* --------------------------------------------- */

/**
* Definição do icone de exclusão
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note cor e tamanho do icone (fontawesome)
*
*/

.trash-alt-icon{
 color: #FFFFFF;
 font-size: 18px;
}

/* --------------------------------------------- */

/**
* Estilo de transformação para os icones de edição e exclusão
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note mudança de cor e tamanho ao passar o mouse sobre (Hover Effect)
*
*/

.edit-icon:hover,  .trash-alt-icon:hover{	
 transform: scale(1.2);
 color: #00BFFF;	
}

/* --------------------------------------------- */

/**
* Posicionamento da modal
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note posição da modal com relação a altura da página.
*
*/

.customModal{	
 margin-top: 15%;
}

/* --------------------------------------------- */

/**
* Esconder icone padrão de ordenação da datatable (Before)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
*
*/
table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before {
 display: none !important;

}

/* --------------------------------------------- */

/**
* Esconder icone padrão de ordenação da datatable (After)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
*
*/

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
 display: none !important;
}

/* --------------------------------------------- */

/**
* Icone SORT BOTH
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note coluna estiver sem ação
*
*/

table.dataTable .sorting {
  background-image: url('../resources/static/libraries/dataTables/DataTables-1.11.4/images/sort_both.png');
   background-repeat: no-repeat;
   background-position: center right;
}

/* --------------------------------------------- */

/**
* Icone SORT ASC
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note icone de ordem crescente
*
*/

table.dataTable thead .sorting_asc {
  background-image: url('../resources/static/libraries/dataTables/DataTables-1.11.4/images/sort_asc.png');
  background-repeat: no-repeat;
  background-position: center right;
}

/* --------------------------------------------- */

/**
* Icone SORT DESC
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note icone de ordem decrescente
*
*/

table.dataTable .sorting_desc {
 background-image: url('../resources/static/libraries/dataTables/DataTables-1.11.4/images/sort_desc.png');
  background-repeat: no-repeat;
   background-position: center right;
}

/* --------------------------------------------- */

/**
* Definições scrollbar
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note comprimento e altura
*
*/

::-webkit-scrollbar{
width: 6px;
height: 6px;
}

/* --------------------------------------------- */

/**
* Definições scrollbar (thumb)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note cor de fundo e raio da borda
*
*/

::-webkit-scrollbar-thumb{
background: #B3AFB3;
border-radius: 0px;
}

/* --------------------------------------------- */

/**
* Definições scrollbar (thumb:hover)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note cor de fundo
*
*/

::-webkit-scrollbar-thumb:hover{
background: #B3AFB3;
}

/* --------------------------------------------- */

/**
* Definições scrollbar (track)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note cor de fundo, sombra e raio da borda
*
*/

::-webkit-scrollbar-track{
background: #F0F0F0;
border-radius: 0px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

/* --------------------------------------------- */
