/**
* Projeto Aluno
*
* Layout form.xhtml
*
* Esta folha de estilo é destinada ao uso
* na página form.xhtml
*
* @project Projeto Aluno
* @author Wellington
* @date 02/02/2022
* @version 1.0 
* @since 1.0
* @package /resources/static/css/validation/
*
*/

/* --------------------------------------------- */

/**
* Classe de erro
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @colordef #dc4535; light red
* @note cor da classe de erro.
*
*/

.error {
	color: #dc4535;
}

/* --------------------------------------------- */

/**
* Classe de sucesso
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @colordef #00CC00; light green
* @note cor da classe de sucesso.
*
*/

.success {
	color: #00CC00;
}

/* --------------------------------------------- */

/**
* Icone de validação (invisível)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note icone de validação, por padrão invisível.
*
*/

.valid-icon-hidden{ 
  display: none;
}

/* --------------------------------------------- */

/**
* Icone de validação (visível)
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note icone de validação visível.
*
*/

.valid-icon-visible{  
  display: block;  
}

/* --------------------------------------------- */

/**
* Definições do label de erro
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note label para ser utilizado quando houver erro (mostra uma mensagem).
*
*/

.error-label {
	border: 1px solid transparent;
	font-size: 14px;
    margin-left: 5px;   
}

/* --------------------------------------------- */

/**
* Definições da classe invalid
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @colordef red; red
* @colordef #dc4535; light red
* @note borda e sombra para o estilo de erro.
*
*/

.invalid {
	border: 1px solid red !important;
	-moz-box-shadow: 0 0 3px red;
	-webkit-box-shadow: 0 0 3px red;
	box-shadow: 0 0 3px red;	
	border-bottom: 2px solid #dc4535 !important;
	box-shadow: 2px 2px 2px #dc4535 !important;
}

/* --------------------------------------------- */

/**
* Definições da classe valid
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @colordef green; green
* @colordef #00CC00; light green
* @note borda e sombra para o estilo de sucesso.
*
*/

.valid {
	border: 1px solid green !important;
	-moz-box-shadow: 0 0 3px green;
	-webkit-box-shadow: 0 0 3px green;
	box-shadow: 0 0 3px red;	
	border-bottom: 2px solid #00CC00 !important;
	box-shadow: 2px 2px 2px #00CC00 !important;
}

/* --------------------------------------------- */

/**
* Definições para as classes valid-icon-hidden & valid-icon-visible
*
* @author Wellington
* @date 02/02/2022
* @version 1.0
* @since 1.0
* @note posição, alinhamento e posicionamento do topo.
*
*/
 .valid-icon-hidden, .valid-icon-visible
 {
    position: absolute;
    right: 28%;
    margin-top: 5px;
}

/* --------------------------------------------- */

